*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1655322974108-b997c6e2e24d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 350px;
    height: 350px;
    background-color: rgba(255, 255,255, 0.6);
    border: 1px solid rgba(255, 255,255, 0.6) ;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(143, 112, 112);
}
